#lobby {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 500px;
	height: 240px;
	margin: auto;
	text-align: center;

	display: none;
	animation: fade-in .5s ease-in-out both .5s;

	&.visible {
		display: block;
	}

	&.fade-out {
		animation: fade-out .3s ease-in-out both 0s;
	}

	h2 {
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 50px;

		#name {
			border-bottom: 2px solid #ccc;
			transition: border-color .1s ease-out;

			&:hover {
				cursor: pointer;
				border-bottom-color: #999;
			}
		}
	}

	button {
		padding: 20px 0;
		width: 320px;
		font: 400 21px "Roboto Mono";
		background: #e7e7e7;
		border: 1px solid #ccc;
		border-bottom: 3px solid #666;
		outline: none;
		transition: all .1s ease-out;
		margin-bottom: 25px;
	}

	&.found button {
		opacity: 0.5;
	}

	&:not(.found) button {
		&:hover {
			cursor: pointer;
			background: #f1f1f1;
		}

		&:active {
			background: #64b4ff;
		}
	}

	p {
		font-weight: 500;
		display: none;
	}

	p#stats {
		font-weight: 300;
		margin-top: 5px;
	}

	&.searching .searching, &.found .found {
		display: block;
	}

	&.found {
		animation: fade-out .5s ease-in-out both 1s;
	}
}
